<!-- =============================== ABOUT =========================================== -->
<section class="about section">
    <div class="about__wrapper container">
        <h2 class="about__title">ABOUT US</h2>
        <p class="about__text">Amet minim mollit non deserunt ullamco est
        sit aliqua dolor do amet sint. Velit officia
        consequatduis enim.</p>
        <p class="about__text">Amet minim mollit non deserunt ullamco est
        sit aliqua dolor do</p>
        <button class="about__button main-button">Explore</button>
    </div>
</section>
<!-- ============================ ABOUT  END =========================================== -->