<!-- ===================================== ADVANTAGE ============================================ -->
<section class="advantage section">
    <div class="advantage__wrapper container">
        <h3 class="visually-hidden">Advantage</h3>
        <ul class="advantage__list">
            <li class="advantage__item">
                <div class="advantage__icon">
                    <svg>
                        <use href="./images/sprite.svg#icon-advantage-coffee"></use>
                    </svg>
                </div>
                <p class="advantage__text">Welcome Drinks</p>
            </li>
            <li class="advantage__item">
                <div class="advantage__icon">
                    <svg>
                        <use href="./images/sprite.svg#icon-advantage-car"></use>
                    </svg>
                </div>
                <p class="advantage__text">Car Rental</p>
            </li>
            <li class="advantage__item">
                <div class="advantage__icon">
                    <svg>
                        <use href="./images/sprite.svg#icon-advantage-bank"></use>
                    </svg>
                </div>
                <p class="advantage__text">Resort & Spa</p>
            </li>
            <li class="advantage__item">
                <div class="advantage__icon">
                    <svg>
                        <use href="./images/sprite.svg#icon-advantage-wifi"></use>
                    </svg>
                </div>
                <p class="advantage__text">Free WIFI</p>
            </li>
        </ul>

    </div>
</section>
<!-- ===================================== ADVANTAGE END ========================================== -->