<!-- ================================= CONTACT ======================================== -->
<section class="contact section">
    <div class="contact__wrapper container">
        
        <ul class="contact__list">
            <li class="contact__item">
                <a href="./" class="logo contact">
                    The<br>
                    Breakdance
                </a>
            </li>
            <li class="contact__item">205. R Street, New York<br>BD23200</li>
            <li class="contact__item">
                <a href="tel:+0092123456789" class="contact__link">+00 92 1234 56789</a>
            </li>
            <li class="contact__item">
                <a href="mailto:info@the-breakdance.com" class="contact__link">
                    info@the-breakdance.com
                </a>
            </li>
        </ul>
        <div class="contact__map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d387194.0622843894!2d-74.30932844391303!3d40.69701928424492!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1s205.%20R%20Street%2C%20New%20York!5e0!3m2!1sru!2sua!4v1686822481160!5m2!1sru!2sua"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>

    </div>
</section>
<!-- ================================= CONTACT END ======================================== -->