<section class="content section">
    <h2 class="content__title">Why You Should <span>Stay Here</span></h2>
    <p class="content__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do
    amet sint. Velit officia consequat.</p>
    <div class="content__wrapper container">
        <ul class="property-list">
            <li class="property-list__item">
                <h3 class="property-list__title room">Provide the best choice of Room</h3>
                <p class="property-list__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do
                amet sint. Velit officia consequat.</p>
            </li>
            <li class="property-list__item">
                <h3 class="property-list__title quality">Low price with Best Quality</h3>
                <p class="property-list__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do
                    amet sint. Velit officia consequat.</p>
            </li>
            <li class="property-list__item">
                <h3 class="property-list__title service">Restaurant Service</h3>
                <p class="property-list__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do
                    amet sint. Velit officia consequat.</p>
            </li>
        </ul>
        <ul class="property-img">
            <li class="property-img__item">
                <h4 class="property-img__title">Cody Fisher</h4>
                <p class="property-img__text">give rating <span>4.5</span></p>
            </li>
            <li class="property-img__item">
                <h4 class="property-img__title">Albert Flores</h4>
                <p class="property-img__text">give rating <span>4.5</span></p>
            </li>
            <li class="property-img__item">
                <h4 class="property-img__title">Devon Lane</h4>
                <p class="property-img__text">give rating <span>4.5</span></p>
            </li>
        </ul>
    </div>
</section>