</main>
<!-- =================================== FOOTER =================================== -->
<footer class="footer">
    <section class="section">
        <div class="footer__wrapper container">
            <div class="footer-nav left-side">
                <h3 class="link__title">Quick link</h3>
                <ul class="link__list left-side">
                    <li class="link__item">
                        <a href="./" class="link">Home</a>
                    </li>
                    <li class="link__item">
                        <a href="./services.html" class="link">Services</a>
                    </li>
                    <li class="link__item">
                        <a href="./about-us.html" class="link">About us</a>
                    </li>
                    <li class="link__item">
                        <a href="./contact.html" class="link">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="subscribe">
                <h2 class="subscribe__title">Get in Touch</h2>
                <p class="subscribe__text">Amet minim mollit non deserunt ullamco est
                sit aliqua dolor do amet sint.</p>
                <!-- <form action=""> -->
                    <div class="form__wrapper">
                        <input type="email" name="email" class="form__input" placeholder="Enter email" id="user_email_sub" required>
                        <span >
                            <button class="form__button main-button">Subscribe</button>
                        </span>
                    </div>
                    

                <!-- </form> -->

            </div>
            <div class="footer-nav right-side">
                <h3 class="link__title">Useful</h3>
                <ul class="link__list right-side">
                    <li class="link__item">
                        <a href="" class="link">Privacy policy</a>
                    </li>
                    <li class="link__item">
                        <a href="" class="link">Legal</a>
                    </li>
                    <li class="link__item">
                        <a href="" class="link">FAQ</a>
                    </li>
                    <li class="link__item">
                        <a href="" class="link">Blogs</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="section copywrite">
        <div class="copywrite__wrapper container">
            <h4 class="copywrite__title">
                Copywrite goes to -
                <a href="https://github.com/Valentynmrzv" class="link">
                    <i class="link-accent">&nbsp;github.com/Valentynmrzv</i>
                </a>
            </h4>
            <ul class="social-list">
                <li class="item">
                    <a href="" class="link">
                        <svg class="icon">
                            <use href="./images/sprite.svg#icon-twitter-logo"></use>
                        </svg>
                    </a>
                </li>
                <li class="item">
                    <a href="" class="link">
                        <svg class="icon">
                            <use href="./images/sprite.svg#icon-youtube-logo"></use>
                        </svg>
                    </a>
                </li>
                <li class="item">
                    <a href="" class="link">
                        <svg class="icon">
                            <use href="./images/sprite.svg#icon-facebook-logo"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </section>
</footer>
<!-- =================================== FOOTER END =================================== -->

<!-- =======================================MODAL============================================ -->
<div class="backdrop is-hidden" data-modal>
    <a href="#" class="backdrop-close" data-modal-close-link></a>
    <div class="modal">
        <button class="modal__button main-button" data-modal-close>
            <svg class="modal__icon">
                <use href="./images/sprite.svg#icon-close"></use>
            </svg>
        </button>
        <div class="contact-form">
            <form class="modal-form">
                <b>Leave your details,<br> we will <span>call you back</span></b>
                <label for="user_name" class="contact-form__label">
                    Name
                    <span class="contact-form__wrapper">
                        <input type="text" name="firstName" class="contact-form__input" id="user_name" autofocus
                            required minlength="4">
                        <svg class="modal-form__icon">
                            <use href="./images/sprite.svg#icon-user"></use>
                        </svg>
                    </span>
                </label>
                <label for="user_phone" class="contact-form__label">
                    Phone
                    <span class="contact-form__wrapper">
                        <input type="tel" name="phone" class="contact-form__input" id="user_phone" required
                            pattern="[0-9]{3}[0-9]{3}[0-9]{2}[0-9]{2}" title="999 123 45 67"
                            placeholder="999 123 45 67">
                        <svg class="modal-form__icon" width="12" height="12">
                            <use href="./images/sprite.svg#icon-phone"></use>
                        </svg>
                    </span>
                </label>
                <button type="submit" class="button-form main-button">Send</button>
            </form>
        </div>
    </div>
</div>
<!-- =======================================  MODAL END ============================================== -->

<script src="js/main.min.js"></script>
</body>

</html>