</main>
<footer class="footer section">
    <div class="footer__wrapper container">
        <div class="links">
            <h3 class="links__title">Quick link</h3>
            <ul class="links__list">
                <li class="links__item">
                    <a href="" class="link">Home</a>
                </li>
                <li class="links__item">
                    <a href="" class="link">Services</a>
                </li>
                <li class="links__item">
                    <a href="" class="link">About us</a>
                </li>
                <li class="links__item">
                    <a href="" class="link">Contact</a>
                </li>
            </ul>
        </div>
        <div class="subscribe">
            <h2 class="subscribe__title">Get in Touch</h2>
            <p class="subscribe__text">Amet minim mollit non deserunt ullamco est
            sit aliqua dolor do amet sint.</p>
            <!-- <form action=""> -->
                <input type="email" name="email" class="form__input" placeholder="Your Email" id="user_email_sub" required>
                <button class="form__button">Subscribe</button>

            <!-- </form> -->

        </div>
        <div class="useful">
            <h3 class="useful__title">Useful</h3>
            <ul class="useful__list">
                <li class="useful__item">
                    <a href="" class="link">Privacy policy</a>
                </li>
                <li class="useful__item">
                    <a href="" class="link">Legal</a>
                </li>
                <li class="useful__item">
                    <a href="" class="link">FAQ</a>
                </li>
                <li class="useful__item">
                    <a href="" class="link">Blogs</a>
                </li>
            </ul>
        </div>
    </div>

</footer>

<script src="js/main.min.js"></script>
</body>

</html>