</main>
<footer class="footer section">
    <div class="footer__wrapper container">
        <div class="footer-nav left-side">
            <h3 class="link__title">Quick link</h3>
            <ul class="link__list left-side">
                <li class="link__item">
                    <a href="./" class="link">Home</a>
                </li>
                <li class="link__item">
                    <a href="./services.html" class="link">Services</a>
                </li>
                <li class="link__item">
                    <a href="./about-us.html" class="link">About us</a>
                </li>
                <li class="link__item">
                    <a href="./contact.html" class="link">Contact</a>
                </li>
            </ul>
        </div>
        <div class="subscribe">
            <h2 class="subscribe__title">Get in Touch</h2>
            <p class="subscribe__text">Amet minim mollit non deserunt ullamco est
            sit aliqua dolor do amet sint.</p>
            <!-- <form action=""> -->
                <div class="form__wrapper">
                    <input type="email" name="email" class="form__input" placeholder="Enter email" id="user_email_sub" required>
                    <span >
                        <button class="form__button main-button">Subscribe</button>
                    </span>
                </div>
                

            <!-- </form> -->

        </div>
        <div class="footer-nav right-side">
            <h3 class="link__title">Useful</h3>
            <ul class="link__list right-side">
                <li class="link__item">
                    <a href="" class="link">Privacy policy</a>
                </li>
                <li class="link__item">
                    <a href="" class="link">Legal</a>
                </li>
                <li class="link__item">
                    <a href="" class="link">FAQ</a>
                </li>
                <li class="link__item">
                    <a href="" class="link">Blogs</a>
                </li>
            </ul>
        </div>
    </div>

</footer>

<script src="js/main.min.js"></script>
</body>

</html>