<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Breakdance</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.0.0/modern-normalize.min.css"
        integrity="sha512-ISS7cAi1PEhQ8jnbJpJZMd29NlhNj4AWYyLOSp2CE/CsHxTCu+r+t0D2yoJudVrd0/8fTVPUVDzY5Tvli75u/g=="
        crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Ubuntu:wght@700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/style.min.css">
</head>

<body>
    <header class="header section">
        <div class="header-wrapper container">
            <a href="./" class="logo">
                The<br>
                Breakdance
            </a>
            <nav class="navigation">
                <ul class="navigation__list">
                    <li class="navigation__item">
                        <a href="./" class="navigation__link">
                            Home
                        </a>
                    </li>
                    <li class="navigation__item">
                        <a href="./services.html" class="navigation__link">
                            Services
                        </a>
                    </li>
                    <li class="navigation__item">
                        <a href="./about-us.html" class="navigation__link">
                            About us
                        </a>
                    </li>
                    <li class="navigation__item">
                        <a href="./room.html" class="navigation__link">
                            Room
                        </a>
                    </li>
                    <li class="navigation__item">
                        <a href="./contact.html" class="navigation__link">
                            Contact
                        </a>
                    </li>
                </ul>
            </nav>
            <button class="button" data-modal-open>Book Now</button>
        </div>

    </header>
    <main>