<!-- ======================================= HERO ============================================== -->
<section class="hero section">
    <div class="hero__wrapper container">
        <h1 class="hero__title">
            Open the door for a <br>
            spacious living -
        </h1>
        <ul class="hero__list">
            <li class="hero__item">
                <a href="#" class="hero__link">
                    Book a hotel service
                </a>
            </li>
            <li class="hero__item">
                <a href="#" class="hero__link">
                    Book a hotel service
                </a>
            </li>
            <li class="hero__item">
                <a href="#" class="hero__link">
                    Book a hotel service
                </a>
            </li>
        </ul>
    </div>
</section>
<!-- ===================================== HERO END ============================================== -->
