<!-- ======================================= HERO ============================================== -->
<section class="hero section">
    <div class="hero__wrapper container">
        <h1 class="hero__title">
            Open the door for a <br>
            spacious living -
        </h1>
        <ul class="hero__list">
            <li class="hero__item">
                <a href="#" class="hero__link">
                    Book a hotel service
                </a>
            </li>
            <li class="hero__item">
                <a href="#" class="hero__link">
                    Book a hotel service
                </a>
            </li>
            <li class="hero__item">
                <a href="#" class="hero__link">
                    Book a hotel service
                </a>
            </li>
        </ul>
    </div>
</section>
<!-- ===================================== HERO END ============================================== -->

<!-- ===================================== ADVANTAGE ============================================ -->
<section class="advantage section">
    <div class="advantage__wrapper container">
        <h2 class="visually-hidden">Advantage</h2>
        <ul class="advantage__list">
            <li class="advantage__item">
                <div class="advantage__icon">
                    <svg>
                    <use href="./images/sprite.svg#icon-advantage-coffee"></use>
                </svg>
                </div>
                <p class="advantage__text">Welcome Drinks</p>
            </li>
            <li class="advantage__item">
                <div class="advantage__icon">
                    <svg>
                        <use href="./images/sprite.svg#icon-advantage-car"></use>
                    </svg>
                </div>
                <p class="advantage__text">Car Rental</p>
            </li>
            <li class="advantage__item">
                <div class="advantage__icon">
                    <svg>
                        <use href="./images/sprite.svg#icon-advantage-bank"></use>
                    </svg>
                </div>
                <p class="advantage__text">Resort & Spa</p>
            </li>
            <li class="advantage__item">
                <div class="advantage__icon">
                    <svg>
                        <use href="./images/sprite.svg#icon-advantage-wifi"></use>
                    </svg>
                </div>
                <p class="advantage__text">Free WIFI</p>
            </li>
        </ul>

    </div>
</section>
<!-- ===================================== ADVANTAGE END ========================================== -->