<section class="order section">
    <div class="order__wrapper container">
        <h2 class="order__title">A World of <span>Choice</span></h2>
        <p class="order__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis totam aspernatur architecto. At quasi repudiandae culpa possimus recusandae magnam officiis.</p>

        <ul class="order__list">
            <li class="order__item">
                <h3 class="subtitle">Room with View</h3>
                <p class="text">3 GUESTS</p>
                <picture class="img">
                    <source srcset="./images/room-1.avif 1x, ./images/room-1@2x.avif 2x" type="image/avif">
                    <source srcset="./images/room-1.webp 1x, ./images/room-1@2x.webp 2x" type="image/webp">
                    <img srcset="./images/room-1.jpg 1x, ./images/room-1@2x.jpg 2x" src="./images/room-1.jpg"
                        alt="Room with View">
                </picture>
            </li>
            <li class="order__item large">
                <h3 class="subtitle">Luxury Room</h3>
                <p class="text">6 GUESTS</p>
                <picture class="img">
                    <source srcset="./images/room-2.avif 1x, ./images/room-2@2x.avif 2x" type="image/avif">
                    <source srcset="./images/room-2.webp 1x, ./images/room-2@2x.webp 2x" type="image/webp">
                    <img srcset="./images/room-2.jpg 1x, ./images/room-2@2x.jpg 2x" src="./images/room-2.jpg"
                        alt="Luxury Room">
                </picture>
            </li>
            <li class="order__item">
                <h3 class="subtitle">Appartment</h3>
                <p class="text">5 GUESTS</p>
                <picture class="img">
                    <source srcset="./images/room-3.avif 1x, ./images/room-3@2x.avif 2x" type="image/avif">
                    <source srcset="./images/room-3.webp 1x, ./images/room-3@2x.webp 2x" type="image/webp">
                    <img srcset="./images/room-3.jpg 1x, ./images/room-3@2x.jpg 2x" src="./images/room-3.jpg"
                        alt="Appartment">
                </picture>
            </li>
            <li class="order__item">
                <h3 class="subtitle">Small Room</h3>
                <p class="text">1 GUESTS</p>
                <picture class="img">
                    <source srcset="./images/room-4.avif 1x, ./images/room-4@2x.avif 2x" type="image/avif">
                    <source srcset="./images/room-4.webp 1x, ./images/room-4@2x.webp 2x" type="image/webp">
                    <img srcset="./images/room-4.jpg 1x, ./images/room-4@2x.jpg 2x" src="./images/room-4.jpg"
                        alt="Small Room">
                </picture>
            </li>
            <li class="order__item">
                <h3 class="subtitle">Medium Room</h3>
                <p class="text">4 GUESTS</p>
                <picture class="img">
                    <source srcset="./images/room-5.avif 1x, ./images/room-5@2x.avif 2x" type="image/avif">
                    <source srcset="./images/room-5.webp 1x, ./images/room-5@2x.webp 2x" type="image/webp">
                    <img srcset="./images/room-5.jpg 1x, ./images/room-5@2x.jpg 2x" src="./images/room-5.jpg"
                        alt="Medium Room">
                </picture>
            </li>
            <li class="order__item large">
                <h3 class="subtitle">Luxury Room</h3>
                <p class="text">6 GUESTS</p>
                <picture class="img">
                    <source srcset="./images/room-2.avif 1x, ./images/room-2@2x.avif 2x" type="image/avif">
                    <source srcset="./images/room-2.webp 1x, ./images/room-2@2x.webp 2x" type="image/webp">
                    <img srcset="./images/room-2.jpg 1x, ./images/room-2@2x.jpg 2x" src="./images/room-2.jpg" alt="Luxury Room">
                </picture>
            </li>
            <li class="order__item">
                <h3 class="subtitle">Room with View</h3>
                <p class="text">3 GUESTS</p>
                <picture class="img">
                    <source srcset="./images/room-1.avif 1x, ./images/room-1@2x.avif 2x" type="image/avif">
                    <source srcset="./images/room-1.webp 1x, ./images/room-1@2x.webp 2x" type="image/webp">
                    <img srcset="./images/room-1.jpg 1x, ./images/room-1@2x.jpg 2x" src="./images/room-1.jpg" alt="Room with View">
                </picture>
            </li>
            <li class="order__item large">
                <h3 class="subtitle">Luxury Room</h3>
                <p class="text">6 GUESTS</p>
                <picture class="img">
                    <source srcset="./images/room-2.avif 1x, ./images/room-2@2x.avif 2x" type="image/avif">
                    <source srcset="./images/room-2.webp 1x, ./images/room-2@2x.webp 2x" type="image/webp">
                    <img srcset="./images/room-2.jpg 1x, ./images/room-2@2x.jpg 2x" src="./images/room-2.jpg" alt="Luxury Room">
                </picture>
            </li>
            <li class="order__item">
                <h3 class="subtitle">Appartment</h3>
                <p class="text">5 GUESTS</p>
                <picture class="img">
                    <source srcset="./images/room-3.avif 1x, ./images/room-3@2x.avif 2x" type="image/avif">
                    <source srcset="./images/room-3.webp 1x, ./images/room-3@2x.webp 2x" type="image/webp">
                    <img srcset="./images/room-3.jpg 1x, ./images/room-3@2x.jpg 2x" src="./images/room-3.jpg" alt="Appartment">
                </picture>
            </li>
        </ul>
    </div>
</section>