<section class="reviews section">
    <div class="reviews__wrapper container">
        <h2 class="reviews__title">CLASSIC ROOMS AND
        INTERIOR</h2>
        <ul class="star-list">
            <li class="item">
                <svg class="icon">
                    <use href="./images/sprite.svg#icon-reviews-star"></use>
                </svg>
            </li>
            <li class="item">
                <svg class="icon">
                    <use href="./images/sprite.svg#icon-reviews-star"></use>
                </svg>
            </li>
            <li class="item">
                <svg class="icon">
                    <use href="./images/sprite.svg#icon-reviews-star"></use>
                </svg>
            </li>
            <li class="item">
                <svg class="icon">
                    <use href="./images/sprite.svg#icon-reviews-star"></use>
                </svg>
            </li>
            <li class="item">
                <svg class="icon">
                    <use href="./images/sprite.svg#icon-reviews-star"></use>
                </svg>
            </li>
        </ul>
        <div class="reviews-user">
            <ul class="reviews-user__list">
                <li class="item first">
                    <picture class="img">
                        <source srcset="./images/reviews-user-1.avif 1x, ./images/reviews-user-1@2x.avif 2x" type="image/avif">
                        <source srcset="./images/reviews-user-1.webp 1x, ./images/reviews-user-1@2x.webp 2x" type="image/webp">
                        <img srcset="./images/reviews-user-1.jpg 1x, ./images/reviews-user-1@2x.jpg 2x" src="./images/reviews-user-1.jpg" alt="Room with View">
                    </picture>
                </li>
                <li class="item second">
                    <picture class="img">
                        <source srcset="./images/reviews-user-2.avif 1x, ./images/reviews-user-2@2x.avif 2x" type="image/avif">
                        <source srcset="./images/reviews-user-2.webp 1x, ./images/reviews-user-2@2x.webp 2x" type="image/webp">
                        <img srcset="./images/reviews-user-2.jpg 1x, ./images/reviews-user-2@2x.jpg 2x" src="./images/reviews-user-2.jpg"
                            alt="Room with View">
                    </picture>
                </li>
                <li class="item third">
                    <picture class="img">
                        <source srcset="./images/reviews-user-3.avif 1x, ./images/reviews-user-3@2x.avif 2x" type="image/avif">
                        <source srcset="./images/reviews-user-3.webp 1x, ./images/reviews-user-3@2x.webp 2x" type="image/webp">
                        <img srcset="./images/reviews-user-3.jpg 1x, ./images/reviews-user-3@2x.jpg 2x" src="./images/reviews-user-3.jpg"
                            alt="Room with View">
                    </picture>
                </li>
                <li class="item fourth">
                    <picture class="img">
                        <source srcset="./images/reviews-user-4.avif 1x, ./images/reviews-user-4@2x.avif 2x" type="image/avif">
                        <source srcset="./images/reviews-user-4.webp 1x, ./images/reviews-user-4@2x.webp 2x" type="image/webp">
                        <img srcset="./images/reviews-user-4.jpg 1x, ./images/reviews-user-4@2x.jpg 2x" src="./images/reviews-user-4.jpg"
                            alt="Room with View">
                    </picture>
                </li>
                <li class="item fifth">
                    <picture class="img">
                        <source srcset="./images/reviews-user-5.avif 1x, ./images/reviews-user-5@2x.avif 2x" type="image/avif">
                        <source srcset="./images/reviews-user-5.webp 1x, ./images/reviews-user-5@2x.webp 2x" type="image/webp">
                        <img srcset="./images/reviews-user-5.jpg 1x, ./images/reviews-user-5@2x.jpg 2x" src="./images/reviews-user-5.jpg"
                            alt="Room with View">
                    </picture>
                </li>
            </ul>
        </div>
        <div class="card">
            <ul class="card__list">
                <li class="card__item">
                    <picture class="img">
                        <source srcset="./images/reviews-icon-coffee.avif 1x, ./images/reviews-icon-coffee@2x.avif 2x" type="image/avif">
                        <source srcset="./images/reviews-icon-coffee.webp 1x, ./images/reviews-icon-coffee@2x.webp 2x" type="image/webp">
                        <img srcset="./images/reviews-icon-coffee.png 1x, ./images/reviews-icon-coffee@2x.png 2x" src="./images/reviews-icon-coffe.png"
                            alt="Room with View">
                    </picture>
                    <h4 class="title">RESTAURANT</h4>
                    <p class="text">Amet minim mollit non deserunt ullamco est
                    sit aliqua dolor do</p>
                </li>
                <li class="card__item">
                    <picture class="img">
                        <source srcset="./images/reviews-icon-spa.avif 1x, ./images/reviews-icon-spa@2x.avif 2x" type="image/avif">
                        <source srcset="./images/reviews-icon-spa.webp 1x, ./images/reviews-icon-spa@2x.webp 2x" type="image/webp">
                        <img srcset="./images/reviews-icon-spa.png 1x, ./images/reviews-icon-spa@2x.png 2x"
                            src="./images/reviews-icon-spa.png" alt="Room with View">
                    </picture>
                    <h4 class="title">SPA & WELLNESS</h4>
                    <p class="text">Amet minim mollit non deserunt ullamco est
                        sit aliqua dolor do</p>
                </li>
                <li class="card__item">
                    <picture class="img">
                        <source srcset="./images/reviews-icon-room.avif 1x, ./images/reviews-icon-room@2x.avif 2x" type="image/avif">
                        <source srcset="./images/reviews-icon-room.webp 1x, ./images/reviews-icon-room@2x.webp 2x" type="image/webp">
                        <img srcset="./images/reviews-icon-room.png 1x, ./images/reviews-icon-room@2x.png 2x"
                            src="./images/reviews-icon-room.png" alt="Room with View">
                    </picture>
                    <h4 class="title">THE BEST ROOMS</h4>
                    <p class="text">Amet minim mollit non deserunt ullamco est
                        sit aliqua dolor do</p>
                </li>
                <li class="card__item">
                    <picture class="img">
                        <source srcset="./images/reviews-icon-bar.avif 1x, ./images/reviews-icon-bar@2x.avif 2x" type="image/avif">
                        <source srcset="./images/reviews-icon-bar.webp 1x, ./images/reviews-icon-bar@2x.webp 2x" type="image/webp">
                        <img srcset="./images/reviews-icon-bar.png 1x, ./images/reviews-icon-bar@2x.png 2x"
                            src="./images/reviews-icon-bar.png" alt="Room with View">
                    </picture>
                    <h4 class="title">LOUNGE BAR</h4>
                    <p class="text">Amet minim mollit non deserunt ullamco est
                        sit aliqua dolor do</p>
                </li>
            </ul>
        </div>
    </div>
</section>