:root {
    --accent-color: #FF6B00;
    --title-text-color-dark: #292929;
    --title-text-color-light: #FFFFFF;
    --primary-text-color-dark: #292929;
    --primary-text-color-light: #FFFFFF;
    --secondary-text-color: #222831;
    --tertiary-text-color: rgba(25, 24, 37, 0.75);
    --accent-text-color: #F85E9F;
    --primary-bg-light: #FFFFFF;
    --primary-bg-dark: #121212;
    --primary-font-family: 'Inter';
    --logo-font-family: 'Ubuntu';
    --transition-property: all 250ms ease-in-out;
}