.about {
    background-color: var(--primary-bg-dark);

    &__wrapper {
        position: relative;
        padding-left: 152px;
        padding-top: 150px;
        padding-bottom: 150px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        

        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;

            width: 592px;
            height: 681px;

            background-image: -webkit-image-set(url("../images/about-bg@2x.avif") type("image/avif") 2x,
                    url("../images/about-bg.avif") type("image/avif") 1x,
                    url("../images/about-bg@2x.webp") type("image/webp") 2x,
                    url("../images/about-bg.webp") type("image/webp") 1x,
                    url("../images/about-bg@2x.jpg") 2x,
                    url("../images/about-bg.jpg") 1x);
            background-image: image-set(url("../images/about-bg@2x.avif") type("image/avif") 2x,
                    url("../images/about-bg.avif") type("image/avif") 1x,
                    url("../images/about-bg@2x.webp") type("image/webp") 2x,
                    url("../images/about-bg.webp") type("image/webp") 1x,
                    url("../images/about-bg@2x.jpg") 2x,
                    url("../images/about-bg.jpg") 1x);
            background-size: contain;
            background-repeat: no-repeat;

        }
    }
    &__title {
        display: flex;
        flex-direction: column;

        @include font-title;
        color: var(--title-text-color-light);

        &::after {
            content: '';
            margin-top: 16px;
            width: 174px;

            border-radius: 3.5px;
            border: 4px solid var(--accent-color);
        }
    }
    &__text {
        margin-top: 41px;
        width: 377px;

        @include font-text($fs: 18px, $lh: 29px);
        color: var(--primary-text-color-light);
        opacity: 0.3;

        &:last-of-type {
            margin-top: 26px;
        }
    }
    &__button {
        margin-top: 36px;
        width: 156px;
        height: 54px;

        background-color: var(--accent-color);
        border-radius: 27px;
        border: 1px solid var(--accent-color);

        @include font-text($fs: 16px, $lh: 26px);
        color: var(--primary-text-color-light);
        transition: var(--transition-property);

        &:hover,
        &:focus {
            background-color: var(--primary-bg-dark);
            color: var(--accent-color);
        }
        &:active {
            border: 1px solid var(--primary-bg-light);
            color: var(--title-text-color-light);
            opacity: 0.3;
        }
    }
}